Name:           python-{{ lc_name }}
Version:        {{ version }}
Release:        1%{?dist}
Summary:        {{ summary }}

License:        {{ license }}
URL:            {{ home_page }}
Source:         {{ source_url }}

BuildArch:      noarch
BuildRequires:  python3-devel

%global _description %{expand:
{{ description }}}

%description %_description

%package -n python3-{{ lc_name }}
Summary:        %{summary}

%description -n python3-{{ lc_name }} %_description


%prep
%autosetup -p1 -n {{ name }}-%{version}


%generate_buildrequires
%pyproject_buildrequires -t


%build
%pyproject_wheel


%install
%pyproject_install

# Here, "{{ lc_name }}" is the name of the importable module.
%pyproject_save_files -l {{ lc_name }}


%check
%tox


# Note that there is no %%files section for
# the unversioned python module, python-{{ lc_name }}.

# For python3-{{ lc_name }}, %%{pyproject_files} handles code files and %%license,
# but executables and documentation must be listed in the spec file:

%files -n python3-{{ lc_name }} -f %{pyproject_files}
%doc README.md
%{_bindir}/{{ lc_name }}_greeting


%changelog
