Name:           python-{{ name }}
Version:        {{ version }}
Release:        1%{?dist}
Summary:        {{ summary }}

License:        {{ license }}
URL:            {{ home_page }}
Source:         {{ source_url }}

BuildArch:      {{ arch }}
BuildRequires:  python3-devel
{{ arch_build_requires }}

%define debug_package %{nil}

%global _description %{expand:
{{ description }}}

%description %_description

%package -n python3-{{ name }}
Summary:        %{summary}

%description -n python3-{{ name }} %_description


%prep
%autosetup -p1 -n {{ extract_dir }}


%generate_buildrequires
%pyproject_buildrequires


%build
%pyproject_wheel


%install
%pyproject_install
%pyproject_save_files '*' +auto


%check
%if %{with tests}
%pyproject_check_import
%endif


# Note that there is no %%files section for
# the unversioned python module, python-{{ name }}.

# For python3-{{ name }}, %%{pyproject_files} handles code files and %%license,
# but executables and documentation must be listed in the spec file:

%files -n python3-{{ name }} -f %{pyproject_files}


%changelog
* {{ date }} {{ rpmdev_packager }} - {{ version }}-1
- Initial package.
